<div>Wordlist Word Pingying Select</div>
<div class="word_container_edit" data-ng-init="init()">
    <div class="letter_edit">{{word.symbol}}</div>
    <div class="pys_container_edit">
        <div data-ng-repeat="i in [] | range:pingyings.length" class="py_container_edit_{{i+1}}">
            <div class="radio_div_edit"><input class="radio" type="radio" name="group" ng-value="i" ng-model="selected" ng-click="setPingying(i);" /></div>
            <div ng-if="pingyings[i].one != undefined" class="one_edit">{{pingyings[i].one}}</div>
            <div ng-if="pingyings[i].two != undefined" class="two_edit">{{pingyings[i].two}}</div>
            <div ng-if="pingyings[i].toneBoldAtTwo != undefined" class="tone_bold_at_two_edit">{{pingyings[i].toneBoldAtTwo}}</div>
            <div ng-if="pingyings[i].three != undefined" class="three_edit">{{pingyings[i].three}}</div>
            <div ng-if="pingyings[i].four != undefined" class="four_edit">{{pingyings[i].four}}</div>
            <div ng-if="pingyings[i].tone != undefined" class="tone_edit">{{pingyings[i].tone}}</div>
        </div>
    </div>
</div><br>
<button ng-click="save()" ng-disabled="!isDirty">Save</button>
