<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			<!--Sidebar content-->

			Word Edit

		</div>
		<div class="span10">
			<!--Body content-->
            <form name="myForm" ng-controller="WordEditCtrl">
                Enter a Chinese word:<br><input type="text" name="input" ng-model="word"
                                             ng-pattern="word" required ng-trim="true"><br><br>
                <div class="edit_container">
                    <div class="edit_letter ng-binding">{{word.formatted_word.letter}}</div>
                    <div ng-repeat="py in word.pyList">
                        <div class="edit_number edit_radio ng-scope ng-binding"><input type="radio"></div>
                        <div ng-if="word.formatted_word.py.one != undefined" class="number one">{{word.formatted_word.py.one}}</div>
                        <div ng-if="word.formatted_word.py.two != undefined" class="number two">{{word.formatted_word.py.two}}</div>
                        <div ng-if="word.formatted_word.py.toneBoldAtTwo != undefined" class="number tone_bold_at_two">{{word.formatted_word.py.toneBoldAtTwo}}</div>
                        <div ng-if="word.formatted_word.py.three != undefined" class="number three">{{word.formatted_word.py.three}}</div>
                        <div ng-if="word.formatted_word.py.four != undefined" class="number four">{{word.formatted_word.py.four}}</div>
                        <div ng-if="word.formatted_word.py.tone != undefined" class="number tone">{{word.formatted_word.py.tone}}</div>
                    </div>
                </div>
            </form>
		</div>
	</div>
</div>
