#new_line{ 
clear: left; 
}
ul {
    clear: both;
    list-style-type: none;
}
.wordlist_container {
    position: absolute;
    left: 125px;
    width: 20%;
}
.lines_container {
    position: absolute;
    left: 275px;
    width: 60%;
    display: table-row;
}
.line_container {
    position: relative;
    width: 100%;
    display: table-row;
}
.words_container {
    position: relative;
    width: 65px;
    height: 50px;
    background: silver;
    display: inline;
    white-space:nowrap;
    float:left;
    display: table-cell;
}
.letter {
    position: absolute;
    left: 0;
    top: 10%;
    /*width: 650%;*/
    bottom: 0;
    display: inline-block;
    font-size: 36px;
}
.number {
    position: absolute;
    left: 40px;
    width: 15%;
    height: 25%;
    font-size: 10px;
    text-align: center;
    text-indent: -5px;
}
.tone {
    position: absolute;
    right: -20px;
    top: 45%;
    width: 15%;
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
}
.tone_next_to_two {
    position: absolute;
    right: 14px;
    top: 25%;
    width: 15%;
    font-size: 20px;
    text-align: center;
    text-indent: 5px;
}
.one {
    top: 20%;
    font-size: 20px;
}
.two {
    top: 35%;
}
.tone_bold_at_two {
    top: 45%;
    font-size: 20px;
}
.three {
    top: 55%;
}
.four {
    top: 72%;
}
input.std5digits{
    width: 25px;
}
.button_generic {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: #fff;
    font-family: 'Oswald';
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}
.button_generic:hover {
    border: none;
    background:red;
    box-shadow: 0px 0px 1px #777;
}