#new_line{ 
clear: left; 
} 
.container {
    position: relative;
    width: 53px;
    height: 50px;
    background: silver;  //remove this to make it white like in your pic
    display: inline;
    white-space:nowrap;
    float:left;
}
.letter {
    position: absolute;
    left: 0;
    top: 50%;
    width: 80%;
    bottom: 0;
    display: inline-block;
    font-size: 36px;
}
.number {
    position: absolute;
    left: 40px;
    width: 15%;
    height: 25%;
    font-size: 10px;
    text-align: center;
    text-indent: -5px;
}
.tone_upper {
    position: absolute;
    right: 0;
    top: 60%;
    width: 15%;
    font-size: 20px;
    text-align: center;
}
.one {
    top: 30%;
    font-size: 20px;
}
.two {
    top: 35%;
}
.tone_bold_at_two {
    top: 45%;
    font-size: 20px;
}
.three {
    top: 55%;
}
.four {

    top: 75%;
}
